

th, td, i {
    padding: 15px;
    text-align: left;
}

i {
    
    color: #af0000;
}

.removeIcon{
    border-radius: 10px;
   
    cursor: pointer;
}

    .removeIcon:hover {
        background-color: #f2f2f2;
    }


.DrinkForm div {
    padding: 15px;
    text-align: left;
}


input, label {
    display:block;
}
